@model BookKeepers.BL.Models.Home
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<div class="text-center">
    <h1 class="display-4">The Book Marketplace</h1>
</div>

    <div class="flexbox">
        <div class="left-side">
            <partial name="_LoginPartial" model="Model.Users" />
        </div>
        
        <div class="Right-side">
        <div class="navbar-left" style="margin-top: 8px;">
            @using (Html.BeginForm("Index", "Movies", FormMethod.Get))
            {
                <div style="display: flex; align-items: center;">
                    <input type="text" name="searchString" value="@ViewBag.CurrentFilter" style="width: 100%;" />
                    <input type="submit" value="Search" style="margin-left: 10px; margin-bottom: 30px; height: 54px;" />
                </div>
            }
        </div>
            <partial name="_BookPartial" model="Model.Books" />
        </div>

        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
    </div>
</div>