@model BookKeepers.BL.Models.Home
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<div class="text-center">
    <h1 class="display-4">The Book Marketplace</h1>
</div>

    <div class="flexbox">
    <div class="left-side homeShopingcart">
            @if (BookKeepers.UI.Models.Authenticate.IsAuthenticated(Context))
            {
                <div class="header p-1">
                    <h4>Shopping Cart</h4>
                </div>
                <div>
                    @await Component.InvokeAsync("ShoppingCartComponent")
                </div>
            }
            else
            {
                <partial name="_LoginPartial" model="Model.Users" />
            }
        
        </div>
        <br />
    <div class="Right-side home-Content">
        <p>
            Welcome to the Book Keepers site! On this site you can expect to find all sorts of books for sale whether you’re looking for collage books or just some things for fun. Enjoy the site!
            This website was made by Fox Valley technical collage students for educational purposes and is not meant to function as a store and the prices are made up.
        </p>
    </div>
        <div style="width:100%" class="Right-side home-Content">
        
        <div class="navbar-left" style="margin-top: 8px;">
            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
            {
                <div style="display: flex; align-items: center;">
                    <input type="text" name="searchString" value="@ViewBag.CurrentFilter"/>
                    <input class="btnStyle CreatNew" type="submit" value="Search" />
                </div>
            }
            @if (ViewBag.IsSearch == true)
            {

                <div>
                    <partial name="_SearchPartial" model="Model.Books" />
                </div>
            }
            else
            {
                <div>
                    <partial name = "_BookPartial" model="Model.Books" />
                </div>
            }

        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
    </div>
</div>