@model IEnumerable<BookKeepers.BL.Models.Book>

@{
    ViewData["Title"] = "Index";
    ViewBag.Active = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Books</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="flexbox">
@foreach (var item in Model) {
        <a class"boxLink" asp-route-id="@item.Id" asp-action="Details">
    <div class="books">
                <img src="~/img/@Html.DisplayFor(modelItem => item.Photo)" />
        <div class="info">
            <h6>@Html.DisplayFor(modelItem => item.Title)</h6>
            <h7>@Html.DisplayFor(modelItem => item.AuthorName)</h7>
            <h7>@Html.DisplayFor(modelItem => item.Year)</h7>
        </div>
    </div>
    </a>
}
</div>


