@model BookKeepers.BL.Models.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
</head>
    <body>
        <form asp-action="Create" method="post">
            <h1>Sign Up</h1>

            <fieldset>
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>

                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>

                <label asp-for="UserId" class="control-label">UserId</label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>

                <label asp-for="UserName" class="control-label">Username</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>

                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password"type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>

                <input type="submit" value="Sign up" class="btn btn-primary" />
            </fieldset>

        </form>
    </body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
