/*This is all the stuff for the Nav*/
.nav-Home {
    font-size: 1.25rem;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-li {
    float: left;
}

.nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    text-decoration: none;
}

.nav-li a:hover {
    background-color: red;
}
.active{
    background-color: red;
    
}
/*END NAV*/
/*Books box*/
.flexbox{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
}

.boxLink {
    display:block;
    text-decoration: none;
    color: black;
}

.books {
    width: 15rem;
    height: 25rem;
    overflow:hidden;
    box-shadow: 1px 1px 10px 1px black;
    background-color:white;
    
  
}
    .books:hover {
        width: 20rem;
        height: 30rem;
    }
    .books img {
        width: inherit;
        height: 82%;
        
    }
.info{
    height:5rem;
    width:auto;
    padding:0.1rem;
    padding-left:0.5rem;
    background-color: white;
}
/*END BOOK BOX*/