/*This is all the stuff for the Nav*/
.Nav-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}
.nav-Home {
    font-size: 1.25rem;
    background-color:black;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EAEDED;
}
.nav-li {
    float: left;
    
}

.nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    text-decoration: none;
    
}
.a1 {
    margin-left: 1rem;
    background-color: blue;
    border-radius: 20px 20px 0px 0px;
    box-shadow: -10px 0px 0px 0px blue,10px 0px 0px 0px blue;
    position: relative;
    z-index: 99;
}
.a1:hover{
    background-color:lightblue;

}
.a2 {
    background-color: red;
    border-radius: 20px 20px 0px 0px;
    box-shadow: -10px 0px 0px 0px red,10px 0px 0px 0px red;
    position: relative;
    z-index: 100;
}
.a2:hover {
    background-color: lightcoral;
}
.a3 {
    background-color: green;
    border-radius: 20px 20px 0px 0px;
    box-shadow: -10px 0px 0px 0px green,10px 0px 0px 0px green;
    position: relative;
    z-index: 99;
}
.a3:hover {
    background-color: lightgreen;
}
.active {
    border-radius: 20px 20px 0px 0px;
    position:relative;
    z-index: 102;
}
/*END NAV*/
/*Books box*/
.flexbox{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
}

.boxLink {
    display:block;
    text-decoration: none;
    color: black;
}

.books {
    width: 15rem;
    height: 25rem;
    overflow:hidden;
    box-shadow: 1px 1px 10px 1px black;
    background-color:white;
    
  
}
    .books:hover {
        width: 20rem;
        height: 30rem;
    }
    .books img {
        width: inherit;
        height: 82%;
        
    }
.info{
    height:5rem;
    width:auto;
    padding:0.1rem;
    padding-left:0.5rem;
    background-color: white;
}
/*END BOOK BOX*/
/*Body*/
body {
    background-color: #EAEDED;
}
.container{
    background-color: white;
}